!jest.config.js
*.d.ts
node_modules
.env

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

# Vim buffers
**/*.swp

# Python stuff
**/*.pyc
**/.pytest_cache/
**/__pycache__/

lambdas/edge/query_to_id/geo
